@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --gta-vermelho: #e60000;
    --gta-preto: #1c1c1c;
    --gta-cinza: #333;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--gta-preto);
    color: #fff;
}

header {
    background-color: var(--gta-preto);
    padding: 2
      rem 0;
}

.nav-link {
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: var(--gta-vermelho);
}

.inicio-fundo {
    background-image: url('img/gta-background.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    width: 100%;
    height: 604px;
    padding: 40px;
}

.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.botao-inicio {
    background-color: var(--gta-vermelho);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    font-weight: bold;
}

h1 {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

#tropicalia {
    background-color: var(--gta-cinza);
    color: #FFFFFF;
    padding: 3rem 0;
}

#tropicalia h2 {
    font-size: 2.5em;
    color: var(--gta-vermelho);
}

#galeria {
    background-color: var(--gta-cinza);
}

.fundo-galeria {
    background: url('img/gta-floral.png') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-image: url('img/gta-contact-bg.jpg');
    background-size: cover;
    padding: 4rem 0;
}

.formulario {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.formulario button {
    background-color: var(--gta-vermelho);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #444;
    color: #fff;
    border: 1px solid #fff;
}

footer {
    background-color: var(--gta-preto);
    color: #fff;
    padding: 1.5rem;
}

footer i {
    color: var(--gta-vermelho);
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

footer i:hover {
    color: #fff;
}
